<section id="emp-wallet-header">
    <img src="./assets/images/vouchain_dashboard_top_prova04.png" id="top-image-dashboard"
        class="img-fluid float-right" />
</section>

<section id="emp-wallet-section">
    <h1 class="text-center" id="emp-wallet-title"><b>{{ 'EMPLOYEES.WALLET_MANAGEMENT' | translate }}</b></h1>
    <!-- Container -->
    <div class="container-fluid" id="emp-wallet-container">
        <div id="emp-wrap-wallet" class="emp-wallet-content-wrap table-responsive" style="overflow-x:auto;">
            <table>
                <thead>
                    <!-- Active Vouchers Table Head -->
                    <tr class="emp-wallet-table-head">
                        <th colspan="2"><img id="emp-wallet-icon"
                                src="./assets/images/icons/wallet_icon.png" />{{ 'OVERVIEW.WALLET.YOUR_WALLET' | translate }}
                        </th>

                        <th class="pr-4 text-right" colspan="2" style="color: #2d2e83;">
                            <b>Totale: {{ totalImport | currency: "EUR":"symbol":"":"it-IT" }}</b>
                        </th>
                    </tr>
                    <!-- Active Vouchers Table Subhead -->
                    <tr class="emp-wallet-table-subhead">
                        <th class="text-left pl-4" style="width:50%">{{ 'OVERVIEW.WALLET.VOUCHER' | translate }}</th>
                        <th class="text-right" style="width:10%">{{ 'TABLES.VOUCHERS.VALUE' | translate }}</th>
                        <th class="text-right" style="width:20%">{{ 'OVERVIEW.WALLET.EXPIRE' | translate }}</th>
                        <th class="text-right pr-4" style="width:20%">{{ 'OVERVIEW.WALLET.QUANTITY' | translate }}</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- Loading Table Row -->
                    <tr *ngIf="tableLoading">
                        <td class="text-center" colspan="6" style="height: 10rem;">
                            <div class="spinner-border text-primary" role="status" style="height: 4rem; width: 4rem;">
                            </div>
                        </td>
                    </tr>

                    <!-- Empty Table Row -->
                    <tr *ngIf="tableEmpty">
                        <td class="text-center" colspan="6" style="height: 10rem;">
                            <h1>{{ msgTableBody }}</h1>
                        </td>
                    </tr>

                    <tr
                        *ngFor="let voucher of empVouchers | paginate: { itemsPerPage: 5, currentPage: selectedPage }; let i = index ">

                        <td class="pl-4">{{ validatorService.readableVoucherName(voucher.vchName) }}</td>
                        <td class="numericPagination">
                            {{ parseFloatStringValue(voucher.vchValue) | currency: "EUR":"symbol":"":"it-IT"}}</td>
                        <td class="numericPagination">{{ voucher.vchEndDate | date:"dd/MM/y" }}</td>
                        <td class="numericPagination pr-4">{{ voucher.vchQuantity }}</td>

                    </tr>
                </tbody>
                <tfoot>
                    <!-- Pagination Controls -->
                    <td colspan="5" id="emp-wallet-pagination">
                        <pagination-controls class="pt-3 vouchainPagination" maxSize="5" nextLabel="Successivo"
                            previousLabel="Precedente" (pageChange)="selectedPage = $event; onPageChange()">
                        </pagination-controls>
                    </td>
                </tfoot>
            </table>
        </div> <!-- Fine wrap -->
    </div> <!-- Fine container -->
</section>