#cpy-orders-header {
  background-color: #2c61f1;
  color: white;
  overflow: hidden;
}

/* Border Images */
#cpy-orders-top-image {
  z-index: 1;
}

/* Main Section */
#cpy-orders-section {
  margin: -20rem 0 3rem;
}

/* Section Title */
#cpy-orders-title {
  color: #ffffff;
  font-family: "GraphikSemibold";
  margin-bottom: 2rem;
}

/* vvv ORDERS vvv */

/* Table Wrapper */
.cpy-orders-content-wrap-tables {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3.4px 3.4px 3.4px 0px rgba(87, 87, 86, 0.6);
  background-color: #a8dbff;
  padding-bottom: 1vh;
}

#cpy-orders-container {
  padding: 0 6vw;
}

/* Table Container */
.cpy-orders-container-table {
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 2vh;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
}

/* Table Container */
.cpy-orders-container-table-title {
  padding: 2vh 1vw;
  color: #2d2e83;
  font-family: "GraphikMedium";
  font-size: 1.5vw;
}

/* Table Header */
.cpy-orders-table-head th {
  color: #2d2e83;
  font-family: "GraphikSemibold";
  font-size: 1.5vw;
  font-weight: unset;
}

/* Table Subheader */
.cpy-orders-table-subhead th {
  color: #2c61f1;
  font-family: "GraphikMedium";
  font-size: 1vw;
  font-weight: unset;
}

.cpy-orders-table-reload-buttons {
  color: #2d2e83;
  font-size: 1.5rem;
}

/* Table Generic */
table {
  background: white;
  border-collapse: collapse;
  border-spacing: 1;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* Table Elements Positions */
table * {
  position: relative;
}

/* Table Cells */
table td,
table th {
  padding-left: 1.5vw;
  text-align: left;
}

/* Table Header Rows */
table thead tr {
  background: #a8dbff;
  height: 5vh;
}

/* Table Body Rows */
table tbody tr {
  height: 4vh;
}

/* Last Table Body Row */
table tbody tr:last-child {
  border: 0;
}

/* Table Body Rows */
tbody tr {
  color: #808080;
  font-family: "GraphikSemibold";
  font-size: 0.8vw;
  font-weight: unset;
  line-height: 1.2;
}

/* Even Table Body Rows */
tbody tr:nth-child(even) {
  background-color: #ededed;
}

/* Table Footer Rows */
table tfoot tr {
  background: #a8dbff;
  height: 60px;
}

/* Table Footer Rows */
tfoot tr {
  font-family: "GraphikSemibold";
  font-size: 15px;
  font-weight: unset;
  line-height: 1.2;
}

/* cursore su tag in assenza di href */
a:hover {
  cursor: pointer;
}

.cpyOrdersInvoiceIcon {
  width: 35%;
}

/* vvv MEDIA QUERIES vvv */

@media screen and (max-width: 576px) {
  #cpy-orders-section {
    margin: -14rem 0 3rem;
  }

  .cpyOrdersInvoiceIcon {
    width: 100%;
  }
}

/* --- MEDIA QUERIES --- */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1280px) {
  @media screen and (max-height: 900px) {
    /* Table Body Rows */
    tbody tr {
      font-size: 1vw;
    }

    /* Table Header */
    .cpy-orders-table-head th {
      font-size: 1.5vw;
    }

    /* Table Subheader */
    .cpy-orders-table-subhead th {
      font-size: 1.2vw;
    }
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* Table Header */
  .cpy-orders-table-head th {
    font-size: 2vw;
  }

  /* Table Subheader */
  .cpy-orders-table-subhead th {
    font-size: 1.5vw;
  }

  tbody tr {
    font-size: 1.2vw;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  tbody tr {
    font-size: 1.5vw;
  }

  .cpyOrdersInvoiceIcon {
    width: 30%;
  }

  /* Table Header */
  .cpy-orders-table-head th {
    font-size: 2vw;
  }

  /* Table Subheader */
  .cpy-orders-table-subhead th {
    font-size: 1.8vw;
  }

  ejs-daterangepicker {
    width: 35vw;
  }

  #cpy-orders-section {
    margin: -17rem 0 3rem;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .cpy-orders-container-table-title {
    font-size: 2.5vw;
  }

  .cpy-orders-table-head th {
    font-size: 1.5vw;
  }

  .cpy-orders-table-head th {
    font-size: 1.5vw;
  }

  ejs-daterangepicker {
    width: 35vw;
  }

  @media screen and (max-height: 699px) {
    tbody tr {
      font-size: 1.5vw;
    }
  }

  @media screen and (min-height: 700px) {
    tbody tr {
      font-size: 1.5vw;
    }
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .cpy-orders-container-table-title {
    font-size: 4vw;
  }

  .cpy-orders-table-head th {
    font-size: 3vw;
  }

  .cpy-orders-table-subhead th {
    font-size: 2.5vw;
  }

  tbody tr {
    font-size: 2.5vw;
  }

  .cpyOrdersInvoiceIcon {
    width: 35%;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .cpy-orders-container-table-title {
    font-size: 4vw;
  }

  .cpy-orders-table-head th {
    font-size: 3vw;
  }

  .cpy-orders-table-subhead th {
    font-size: 2.5vw;
  }

  tbody tr {
    font-size: 2.5vw;
  }

  #cpy-orders-title {
    font-size: 8vw;
  }

  .cpy-orders-table-head th {
    font-size: 3.5vw;
  }

  .cpy-orders-table-subhead th {
    font-size: 3vw;
  }

  .cpyOrdersInvoiceIcon {
    width: 50%;
  }

  .cpyOrdersDetailsIcon {
    width: 50%;
  }

  ejs-daterangepicker {
    width: 65vw;
  }

  h1 {
    font-size: 8vw;
  }
}

/* 
  ##Device = Between desktop and laptop
  ##Screen = height < 900px
*/

@media screen and (max-height: 900px) and (min-height: 700px) {
}

@media screen and (max-height: 699px) {
}
