<section id="upr-login-section">

    <!-- Website Border Images -->
    <img src="./assets/images/vouchain_loginTop.png" id="top-image-login" class="img-fluid"/>
    <img src="./assets/images/vouchain_loginBottom.png" id="bottom-image-login" class="img-fluid"/>
  
    <!-- Profile icons -->
    <div id="upr-login-header" class="container">
      <a *ngIf="profile ==='company'" href="{{ homepage }}">
        <img id="imgCpyLogoRecoveryPsw" class="img-fluid" src="./assets/images/cpyNavbar_logoBianco.png" />
      </a>
      <a *ngIf="profile ==='employee'" href="{{ homepage }}">
        <img id="imgCpyLogoRecoveryPsw" class="img-fluid" src="./assets/images/monethic logo.PNG" />
      </a>
      <a *ngIf="profile ==='merchant'" href="{{ homepage }}">
        <img id="imgCpyLogoRecoveryPsw" class="img-fluid" src="./assets/images/monethic logo.PNG" />
      </a>
    </div>
  
    <!-- Main Website Content -->
    <div class="upr-login-container">
      <div class="upr-login-wrap">
  
        <!-- Login Form -->
        <form id="forgotPassForm" class="text-center" (ngSubmit)="onSubmitEmail()" ngNativeValidate>
          <div style="margin-bottom: 2rem;">
          <a id="upr-anchor-passrecovery">{{ 'SECTION_LABELS.RECOVERY_PSW' | translate }}</a>
        </div>

          <!-- Input email field -->
          <div class="form-group">
            <input type="email" name="email" class="form-control" data-toggle="tooltip" data-placement="top" placeholder="Inserisci la tua Email" [(ngModel)]="email" (input)="emailValid()" title="{{ 'SIGNUP.TOOLTIPS.EMAIL' | translate }}"/>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block">{{ 'BUTTON.CONFIRM' | translate }}</button>

          <!-- Back to login -->
          <p class="mt-2 mb-0">{{ 'RECOVERY_PASS.BACK_TO' | translate }} <a routerLink="{{urlLogin}}" routerLinkActive="active">{{ 'BUTTON.LOGIN' | translate }}</a>.</p>

          <!-- Error alerts -->
          <div *ngIf="!emailOk" id="errorDescription" class="alert alert-danger" role="alert">{{ 'ERRORS.EMAIL_SINTAX' | translate}}</div>
          <div *ngIf="!emailFound" id="errorDescription" class="alert alert-danger" role="alert">{{ 'ERRORS.EMAIL_NOT_EXIST' | translate}}</div>
        </form>

        <!-- Confirm message -->
        <div id="RecoveryMessage" class="text-center">
          <p>{{ 'RECOVERY_PASS.RECOVERY_MSG' | translate }}</p>
          <button  id="btn-backToHome"class="btn btn-primary btn-block" (click)="onClickHomeButton()">{{ 'BUTTON.BACK_TO_HOME' | translate }}</button>
        </div>

      </div>
    </div>
  </section>
  