/* Main Section */
#upr-login-section {
  position: fixed;
  /* overflow: scroll; */
  background-color: #2c61f1;
  height: 100%;
  width: 100%;
}

/* Border Images */
#top-image-login {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: -1;
}

#bottom-image-login {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

/* logo */
#imgCpyLogoRecoveryPsw{
  width:20%;
  opacity: 0.5;
 }

/* Header Text */
#upr-login-header {
  position: absolute;
  margin-top: 5rem;
  margin-left: 12rem;
}

/* VouChain Title */
#title-vouchain {
  color: #ffffff;
  font-family: "GraphikSemibold";
}

/* VouChain Title Link */
#title-vouchain a{
  color: inherit;
}

#title-vouchain a:hover {
  text-decoration: none;
}

/* Login Page Link */
#upr-anchor-passrecovery {
  font-size: 1.5rem;
  font-family: "GraphikMedium";
}

/* Login Page Link */
#upr-anchor-login {
  font-size: 1.5rem;
  color: #575756;
}

#upr-anchor-login:hover {
  color: #2c61f1;
  text-decoration: none;
}

#upr-anchor-login:visited {
  color: #575756;
}

#upr-anchor-pipe {
  font-size: 1.5rem;
  vertical-align: top;
}

/* FORM */

.upr-login-container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.upr-login-wrap {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 5.25rem 5rem 4.75rem;

  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

#errorDescription {
  font-family: "GraphikSemibold";
  height: 3rem;
  margin-bottom: -3rem;
}

/* --- MEDIA QUERIES --- */

/* Schermo Tipo Ipad orizzontale */
@media screen and (min-width: 960px) and (max-width: 1140px) and (max-height: 960px) {
  #upr-login-header {
    margin-top: 12%;
  }

  .upr-login-container {
    margin-top: 5%;
  }

  img {
    width: 50%;
  }
}

/* Schermo Ipad pro verticale */
@media screen and (min-width: 960px) and (max-width: 1140px) and (min-height: 961px) {
  #upr-login-header {
    margin-top: 30%;
  }
}

/* Tipo iphone x orizzontale */
@media screen and (min-width: 768px) and (max-width: 960px) and (max-height: 930px) {
  #upr-login-header {
    margin-left: 4rem;
    margin-top: 2%;
  }

  .upr-login-container {
    margin-top: 7%;
  }

  /* TODO: Verificare */
  #upr-login-section{
    overflow: scroll;
  }

  img {
    width: 50%;
  }
}

/* Tipo ipad verticale */
@media screen and (min-width: 768px) and (max-width: 960px) and (min-height: 931px) {
  /* Header Text */
  #upr-login-header {
    margin-left: 6rem;
    margin-top: 30%;
  }
}

/* Schermi tipo galaxy s5 / iphone 6/7/8 orizzontale */
@media screen and (min-width: 576px) and (max-width: 767px) and (max-height: 600px) {
  /* Header Text */
  #upr-login-header {
    margin-left: 2rem;
    margin-top: 2%;
  }

  .upr-login-container {
    margin-top: 9%;
  }

  /* TODO: Verificare */
  #upr-login-section{
    overflow: scroll;
  }

  img {
    width: 50%;
  }
}

/* Schermi tipo galaxy s5 / iphone 6/7/8 */
@media screen and (min-width: 576px) and (max-width: 767px) and (min-height: 601px) {
  /* Header Text */
  #upr-login-header {
    margin-left: 4rem;
    margin-top: 15%;
  }
}

/* Schermi tipo iphone x verticale */
@media screen and (max-width: 576px) and (min-height: 812px){
  /* Header Text */
  #upr-login-header {
    margin-left: 0.1rem;
    margin-top: 55%;
  }

  #upr-title-vouchain {
    font-size: 1.8rem;
    text-align: center;
  }

  /* Form Container */
  .upr-login-container {
    min-height: 120vh;
    margin-top: -15%;
  }

  /* Form Wrap */
  .upr-login-wrap {
    padding: 2rem 1rem 3.5rem;
  }
}

/* Schermi tipo iphone 5 verticale */
@media screen and (max-width: 576px) and (max-height: 813px) and (min-height: 501px) {
  /* Header Text */
  #upr-login-header {
    margin-left: 0.1rem;
    margin-top: 30%;
  }

  #upr-title-vouchain {
    font-size: 1.8rem;
    text-align: center;
  }

  /* Form Container */
  .upr-login-container {
    min-height: 120vh;
    margin-top: -15%;
  }

  /* Form Wrap */
  .upr-login-wrap {
    padding: 2rem 1rem 3.5rem;
  }

  #imgCpyLogoRecoveryPsw{
    width:45%;
    opacity: 0.5;
   }
}

/* Schermi tipo iphone 5 orizzontale */
@media screen and (max-width: 576px) and (max-height: 500px) {
  /* Header Text */
  #upr-login-header {
    margin-left: 2rem;
    margin-top: 2%;
  }

  #upr-title-vouchain {
    font-size: 1.8rem;
  }

  /* Form Container */
  .upr-login-container {
    min-height: 120vh;
    margin-top: 9%;
  }

  /* Form Wrap */
  .upr-login-wrap {
    padding: 2rem 1rem 3.5rem;
  }

  /* TODO: Verificare */
  #upr-login-section{
    overflow: scroll;
  }

  img {
    width: 50%;
  }
}