<div id="emp-navbar" class="navbar navbar-expand-lg navbar-dark">

    <div class="col-lg-4" id="emp-navbar-display">
      <a id="emp-brand" class="navbar-brand col-sx-10" >
        <img id="imgEmpLogo" class="img-fluid" src="./assets/images/monethic logo.PNG" />
      </a>  
        <button class="navbar-toggler float-right col-sx-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: center;">
      <div class="col-xl-9 col-lg-5"> </div>
      <div class="col-xl-4">
        <ul class="navbar-nav mr-auto">
          <li class="dropdown nav-item">
            <button type="submit" class="mat-raised-button"  id="button_parla" >Richieste</button>
          </li>
          <li class="dropdown nav-item">
            <button type="submit" class="mat-raised-button" id="button_test"  >Registrati</button>
          </li>
        </ul>
      </div>
    </div>
  
  </div>
  
  