

    
<section id="cpy-employees-header">

  <!-- Top Border Image -->
  <img class="float-right img-fluid" id="cpy-employees-top-image" src=" "/>

</section>

<!-- Main Website Content -->
<section id="cpy-employees-section">

  <app-emp-submenu> </app-emp-submenu>
 
  <!-- Section Title -->
  <h1 class="text-center" id="cpy-employees-title">
    <b>   </b>
  </h1>
  <!-- Main Section Content -->
  <div class="container-fluid" id="cpy-employees-container">

     

          <!-- SUbmenu bar-->

         
    <div class="col-lg-12" style="float:none;margin-top: -80px;">
   
  
      
            <div class="coupon">
                <div class="container">
                  <h3>Monetic Application Promo</h3>
                </div>
                <img src="./assets/images/bank1.jpg" alt="Avatar" style="width:100%;">
                <div class="container" style=" ">
                  <h2><b>20% OFF YOUR PURCHASE</b></h2> 
                  <p>  USE THE PROMO CODE FOR DISCOUNT </p>
                </div>
                <div class="container">
                  <p>Use Promo Code: <span class="promo">BOH232</span></p>
                  <p class="expire">Expires: Jan 03, 2021</p>
                  <button class="btn btn-primary " style="margin-left: 8px;" ><b> Use Coupon</b></button>
                </div>
          
        </div>



    </div>
      
   

  </div>

</section>






  
  
  
  
  <!-- Arifur testing  -->
  
  








<!-- testing Main example content start here-->
  
  
 


<!--  Testing Component 
 
  <div class="col-lg-12" style="float:none;margin-top: 150px;">
 
    <div class="coupon">
        <div class="container">
          <h3>Company Logo</h3>
        </div>
        <img src="./assets/images/bank2.jpg" alt="Avatar" style="width:100%;">
        <div class="container" style="background-color:white">
          <h2><b>20% OFF YOUR PURCHASE</b></h2> 
          <p>Lorem ipsum dolor sit amet, et nam pertinax gloriatur. Sea te minim soleat senserit, ex quo luptatum tacimates voluptatum, salutandi delicatissimi eam ea. In sed nullam laboramus appellantur, mei ei omnis dolorem mnesarchum.</p>
        </div>
        <div class="container">
          <p>Use Promo Code: <span class="promo">BOH232</span></p>
          <p class="expire">Expires: Jan 03, 2021</p>
        </div>
       </div>


  </div>



-->