<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section id="cpy-employees-header">

    <!-- Top Border Image -->
    <img class="float-right img-fluid" id="cpy-employees-top-image" src=" "/>
  
  </section>
  
  <!-- Main Website Content -->
  <section id="cpy-employees-section">
  

  <!--
    submenu bar 
      <app-cpy-submenu> </app-cpy-submenu>
  -->

  
   

    <div class="container-fluid">

        <div class="row">
           
         <!-- left side column   -->

          <div class="col-lg-8 col-xl-8 col-md-8 col-sm-8">

                

      <div class="row">
     
        <div class="col-lg-8 col-xl-8 col-md-8 col-sm-8" style="margin-left: 10px;" id="leftcoloumnrow"> 
          <p id="firstleftrowheader">
            Effettua un nuovo bonifico 
          </p>
         <p style="font-size: 15px;">
            Un bonifico SWIFT o SEPA singolo o multiplo da effettuare immediatamente o 
            da programmare per il futuro, a te la scelta.
         </p>
        
        </div>
         
          
        
    </div>
    
    <!-- first row after the head -->
    <div class="row" id="firstleftrow"  routerLink="/company/cpyDashboard/bonificisepa"  >
 
        
             
                 
              <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2">
                <i class="fa fa-cog fa-spin fa-3x fa-fw" style="margin-top: 10px; color: #76eff3;"></i>
                <span class="sr-only">Loading...</span>

              </div>

              <div class="col-lg-8 col-xl-8 col-md-8 col-sm-8">
                <h4  style="margin-left: 15px;">     Bonifico SEPA
            
                  <p style="font-size: 15px;margin-top: 10px;">
    
                    Effettua  o programma un bonifico  
                   </p>
                </h4>
              </div>

              <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2">

                <i class="fa fa-angle-double-right" style="font-size:36px; margin-top: 12px; float: right; margin-left: 2vh;"></i>

              

            </div>

           

        

    </div>
    <!-- second row -->
    <div class="row" id="secondleftrow"  routerLink="/company/cpyDashboard/bonificisepa">
  
            <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2">
              <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" style="margin-top: 10px; color: rgba(255,248,0,0.5);"></i>
              <span class="sr-only">Loading...</span>

            </div>

            <div class="col-lg-8 col-xl-8 col-md-8 col-sm-8">
              <h4  style="margin-left: 15px;  ">   Bonifico SWIFT 
                <p  style="font-size: 15px; "> (in valuta estera)  </p>
          
                <p style="font-size: 15px;margin-top: 10px;">
  
                  Un bonifico che supera i confini dell'euro 
                 </p>
              </h4>
            </div>

            <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2">

              <i class="fa fa-angle-double-right" style="font-size:36px; margin-top: 12px; float: right; "></i>

            </div>
  </div>
    

    <!-- third row  -->
    <div class="row" id="firstthirdrow" routerLink="/company/cpyDashboard/bonificisepa">
               
            <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2">
              <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="margin-top: 10px; color:  #96b7bb"></i>
              <span class="sr-only">Loading...</span>

            </div>

            <div class="col-lg-8 col-xl-8 col-md-8 col-sm-8">
              <h4  style="margin-left: 18px;">     Bonifici multipli in euro
          
                <p style="font-size: 15px;margin-top: 10px;">
  
                  Effettua  o programma un bonifico  
                 </p>
              </h4>
            </div>

            <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2">

              <i class="fa fa-angle-double-right" id="thirdsign" style="font-size:36px; margin-top: 12px; float: right; margin-right: 2vh;"></i>

            </div>

  </div>

          </div>

           <!--right side coloumn  -->
          <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4">

             <img src="./assets/images/04-Send-Payments.png" alt="" id="leftimage">

          </div>

        </div>



    </div>

    <div class="container"   id="secondcontainer">


    </div>


  </section>
  
  




    
    
    