
<!--  main content  start here -->

<div id="emp-navbar-main"  class="col-lg-8" style="float:none;margin:auto;">    
 <div id="emp-navbar" class="navbar navbar-expand-lg  "  >
                       
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: center;">
      <div class="col-xl-12 col-lg-4">
        <ul class="navbar-nav justify-content-center" style="display: -webkit-inline-box ; color: burlywood;  ">
         
          <li class="nav-item">
            <a class="nav-link" routerLink="/employee/empDashboard/rubrica" routerLinkActive="active-link"  id="rubrica" >Rubrica contatti</a>
          </li>
         <!--
          <li class="nav-item">
            <a class="nav-link" routerLink="/employee/empDashboard/vetrina" routerLinkActive="active-link" id="vertina">{{ 'NAVBAR.MERCHANTS_SHOWCASE' | translate }}</a>
          </li>
         -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/employee/empDashboard/payment" routerLinkActive="active-link"  id="Appleplay"> ApplePay </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/employee/empDashboard/googlepay" routerLinkActive="active-link"  id="Appleplay">GooglePay</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" routerLink="/employee/empDashboard/cashback" routerLinkActive="active-link" id="cashback"> CashBack </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>