<!-- Errors Bootstrap Modal -->
<div class="fade modal" data-refresh="true" id="vouchain-modal-errors" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">

        <!-- Modal content-->
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" id="vouchain-modal-errors-header">
                <h4 class="modal-title" id="vouchain-modal-errors-header-title"></h4>
                <button class="btn btn-default" data-dismiss="modal" id="vouchain-modal-errors-header-button" type="button">
                    X
                </button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body" id="vouchain-modal-errors-body"></div>

            <!-- Modal Footer -->
            <div class="modal-footer" id="vouchain-modal-errors-footer">
                <button class="btn btn-default" data-dismiss="modal" id="vouchain-modal-errors-footer-button" type="button"></button>
            </div>

        </div>

    </div>
</div>

<!-- Info Bootstrap Modal -->
<div class="fade modal" data-refresh="true" id="vouchain-modal-info" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">

        <!-- Modal content-->
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" id="vouchain-modal-info-header">
                <h4 class="modal-title" id="vouchain-modal-info-header-title"></h4>
                <button class="btn btn-default" data-dismiss="modal" id="vouchain-modal-info-header-button" type="button">
                    X
                </button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body" id="vouchain-modal-info-body"></div>

            <!-- Modal Footer -->
            <div class="modal-footer" id="vouchain-modal-info-footer">
                <button class="btn btn-default" data-dismiss="modal" id="vouchain-modal-info-footer-button" type="button"></button>
            </div>

        </div>

    </div>
</div>

<!-- Success Bootstrap Modal -->
<div class="fade modal" data-refresh="true" id="vouchain-modal-success" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">

        <!-- Modal content-->
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" id="vouchain-modal-success-header">
                <h4 class="modal-title" id="vouchain-modal-success-header-title"></h4>
                <button class="btn btn-default" data-dismiss="modal" id="vouchain-modal-success-header-button" type="button">
                    X
                </button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body" id="vouchain-modal-success-body"></div>

            <!-- Modal Footer -->
            <div class="modal-footer" id="vouchain-modal-success-footer">
                <button class="btn btn-default" data-dismiss="modal" id="vouchain-modal-success-footer-button" type="button"></button>
            </div>

        </div>

    </div>
</div>

