/* Main Section */
#mrc-login-section {
  position: fixed;
  background-color: #2c61f1;
  height: 100%;
  width: 100%;
}

/* Border Images */
#mrc-top-image-login {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: -1;
}

#mrc-bottom-image-login {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

.link-homepage {
  font-size: 0.9rem;
  padding: 0rem;
}

/* Header Text */
#mrc-login-header {
  margin: auto;
  padding-top:3vh;
  position: absolute;
  margin-left: 8%;
}

/* logo */
#imgMrcLogoLogin{
  width:20%;
  opacity: 0.5;
 }

#mrc-title-vouchain {
  color: #ffffff;
  font-family: "GraphikSemibold";
}

/* VouChain Title Link */
#mrc-title-vouchain a {
  color: inherit;
}

#mrc-title-vouchain a:hover {
  text-decoration: none;
}

/* Login Page Link */
#mrc-login-anchor {
  font-size: 1.5rem;
  font-family: "GraphikMedium";
}

/* Signup Page Link */
#mrc-signup-anchor {
  font-size: 1.5rem;
  color: #575756;
}

#mrc-signup-anchor:hover {
  color: #2c61f1;
  text-decoration: none;
}

#mrc-signup-anchor:visited {
  color: #575756;
}

#mrc-anchor-pipe {
  font-size: 1.5rem;
  vertical-align: top;
}

/* Error Alert */
#mrc-login-error-description {
  font-family: "GraphikSemibold";
  height: 3rem;
  margin-bottom: -3rem;
}

#mrc-login-error-description-generic {
  font-family: "GraphikSemibold";
  height: 3rem;
  margin-bottom: -3rem;
}

/* FORM */

.mrc-login-container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.mrc-login-wrap {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 4.5rem 5rem 4.75rem;

  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

#mrc-err-msg {
  font-family: "GraphikSemibold";
  height: 3rem;
  margin-bottom: -3rem;
}

/* --- MEDIA QUERIES --- */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  @media screen and (max-height: 900px) { }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1024px) and (max-width: 1280px) {
  img {
    width: 50%;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1023px) {
  #mrc-login-header {
    margin-top: 5%;
  }

  .mrc-login-container {
    margin-top: 5%;
  }

  img {
    width: 50%;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  #mrc-login-header {
    margin-top: 4%;
  }

  .mrc-login-container {
    margin-top: 15%;
  }

  img {
    width: 50%;
  }

  #mrc-login-section{
    overflow: scroll;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  #mrc-login-header {
    margin-left: 2rem;
    margin-top: 2%;
  }

  .mrc-login-container {
    margin-top: 11%;
  }

  #mrc-login-section {
    overflow: scroll;
  }

  img {
    width: 50%;
  }

  #imgMrcLogoLogin {
    width: 40%;
    opacity: 0.5;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  #mrc-login-header {
    margin-left: 2rem;
    margin-top: 4%;
  }

  .mrc-login-container {
    margin-top: 10%;
  }

  #mrc-login-section {
    overflow: scroll;
  }

  img {
    width: 50%;
  }

  #imgMrcLogoLogin {
    width: 50%;
    opacity: 0.5;
  }

  .mrc-login-wrap {
    padding: 2rem 1rem 3.5rem;
  }
}

/* 
  ##Device = Between desktop and laptop
  ##Screen = height < 900px
*/
@media screen and (max-height: 900px) and (min-height: 700px) { }

@media screen and (max-height: 699px) { }