
   
<section id="cpy-employees-header">

    <!-- Top Border Image -->
    <img class="float-right img-fluid" id="cpy-employees-top-image" src=" "/>
  
  </section>
  
  <!-- Main Website Content -->
  <section id="cpy-employees-section">
  
    <app-cpy-submenu> </app-cpy-submenu>
   
    <!-- Section Title -->
    <h1 class="text-center" id="cpy-employees-title">
      <b>   </b>
    </h1>
    <!-- Main Section Content -->
    <div class="container-fluid" id="cpy-employees-container">
  
       
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12" style="float:none;margin-top: -80px;">
            <!-- SUbmenu bar-->
  
            <div class="card mt-50 mb-50">
                                    
                <div class="card-title mx-auto"> <img id="apple-pay-icon"
                    src="./assets/images/icons/applenew.png" />  Applepay Payment </div>
                <div class="nav">
                    <ul class="mx-auto">
                        <li><a href="#">Account</a></li>
                        <li class="active"><a href="#">Payment</a></li>
                    </ul>
                </div>
                <form> <span id="card-header">Saved cards:</span>
                    <div class="row row-1">
                        <div class="col-2"><img class="img-fluid" src="https://img.icons8.com/color/48/000000/mastercard-logo.png" /></div>
                        <div class="col-7"> <input type="text" placeholder="**** **** **** 3193"> </div>
                        <div class="col-3 d-flex justify-content-center"> <a href="#">Remove card</a> </div>
                    </div>
                    <div class="row row-1">
                        <div class="col-2"><img class="img-fluid" src="https://img.icons8.com/color/48/000000/visa.png" /></div>
                        <div class="col-7"> <input type="text" placeholder="**** ****"> </div>
                        <div class="col-3 d-flex justify-content-center"> <a href="#">Remove card</a> </div>
                    </div> <span id="card-header">Add new card:</span>
                    <div class="row-1">
                        <div class="row row-2"> <span id="card-inner">Card holder name</span> </div>
                        <div class="row row-2"> <input type="text" placeholder=""> </div>
                    </div>
                    <div class="row three" >
                        <div class="col-7">
                            <div class="row-1">
                                <div class="row row-2"> <span id="card-inner">Card number</span> </div>
                                <div class="row row-2"> <input type="text" placeholder=""> </div>
                            </div>
                        </div>
                        <div class="row row-2"> <input type="text" placeholder="Expire date"  style="margin-top:4px;"> </div>
                        <div class="row row-2"> <input type="text" placeholder="CVV Number"  style="margin-top:4px;"> </div>
                    </div> <button   class="btn d-flex mx-auto"><b> Make Payement</b></button>
                </form>
            </div>
        </div>
     
  
    </div>
  
  </section>
  
  




    
    
    