#imgEmpLogo {
    width: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

#emp-navbar {
    background-color: white;
    color: white;
    height: 19vh;
    font-size: 1.3vw;
    position: fixed;
    width: 100%;
    z-index: 999;
}

button.mat-raised-button:hover{ 
  color:  black;
}

button.mat-raised-button {
    background-color: white;
    border-color: white; 
    border-block: white;
    color:#993399 ;
}
