<section id="cpy-login-section">
    <!-- Website Border Images -->
    <img src="./assets/images/vouchain_loginTop.png" id="top-image-login" class="img-fluid"/>
    <img src="./assets/images/vouchain_loginBottom.png" id="bottom-image-login" class="img-fluid"/>
  
    <div id="cpy-login-header" class="container">
      <h1 id="title-vouchain"><a href="{{ homepage }}">VouChain</a></h1>
    </div>
  
    <!-- Main Website Content -->
    <div class="container-login100">
      <div class="wrap-login100">
  
        <!-- Login Form -->
        <form id="modifyPassForm" class="text-center" (ngSubmit)="onSubmitPass()" ngNativeValidate>
          <div style="margin-bottom: 2rem;">
          <a id="cpy-anchor-passreset">{{ 'SECTION_LABELS.RESET_PSW' | translate }}</a>
        </div>

        <!-- Password field -->
          <div class="form-group">
            <!-- <input type="password" class="form-control" aria-describedby="emailHelp" placeholder="Inserisci la tua nuova Password" [(ngModel)]="password" [ngModelOptions]="{ standalone: true }" required/> -->
            <input type="password" name="password" class="form-control" data-toggle="tooltip" data-placement="top" placeholder="Inserisci la tua nuova Password" [(ngModel)]="password" (input)="checkPassword()" title="{{ 'SIGNUP.TOOLTIPS.PASSWORD' | translate }}"/>
          </div>

          <!-- Retype password -->
          <div class="form-group">
            <!-- <input type="password" class="form-control" aria-describedby="emailHelp" placeholder="Conferma la tua nuova Password" [(ngModel)]="passwordRe" [ngModelOptions]="{ standalone: true }" required/> -->
            <input type="password" name="retype" class="form-control" data-toggle="tooltip" data-placement="top" placeholder="Conferma la tua nuova Password" [(ngModel)]="passwordRe" (input)="checkPasswordRetype()" title="{{ 'PLACEHOLDER.RE_NEW_PASSWORD' | translate }}"/>
          </div>

          <!-- Confirm button -->
          <button type="submit" class="btn btn-primary btn-block mb-3">{{ 'BUTTON.CONFIRM' | translate }}</button>

          <!-- Error -->
          <div *ngIf="errorMsg" id="errorDescription" class="alert alert-danger" role="alert">{{ errorMsg }}</div>

        </form>

        <!-- Confirm -->
        <div id="ModifyPasswordMessage" class="text-center">
          <p>{{ 'RECOVERY_PASS.MODIFY_MSG' | translate }}</p>
          <a href="{{ homepage }}" class="btn btn-primary btn-block">{{ 'BUTTON.BACK_TO_HOME' | translate }}</a>
        </div>
       

      </div>
    </div>
  </section>