#cpy-navbar {
  /* background-color: transparent; */
  background-color:  #EE82EE;
  color: white;
  height: 5.2vh;
  font-size: 1.3vw;
  position: fixed;
  width: 100%;
  z-index: 999;
}

#cpy-navbar-profile {
  font-size: 1.3vw;
}

#cpy-brand {
  font-size: 1.7rem;
  display: inline;
}

#imgCpyLogo {
  width: 60%;
}

#imgCpyProfile {
  width: 20%;
}

.cpy-dropdown-item {
  color: #2d2e83 !important;
}

.cpy-dropdown-item:hover {
  background-color: #2c61f1 !important;
}

.navbar a {
  color: white;
}

.dropdown-divider {
  border-top: 1px solid #2d2e83;
}

.active-link {
  border-bottom: 3px solid white;
  border-radius: 5px 0px;
  box-shadow: 0px 1px #000000;
  color: #ffffff !important;
  padding-bottom: 0px;
  text-shadow: 1px 1px #000000;
}

#movement{
  width: 20px;
  height: 20px;
  margin-left: 6px;
  border-radius: 2px;
  margin-bottom: 8px;
 
 }

#movementimage{

  margin-left: 40px;

}
#carteimage{
  margin-left: 40px;

}

#bonificiimage{
  margin-left: 40px;
}

 #movimentiicon{

  width: 25px;
  height: 25px;
  margin-left: 6px;
 
}
#carte{
  width: 25px;
  height: 25px;
}

#paper{
  
  width: 24px;
  height: 24px;
  margin-left: 6px;
}

@media  screen and  (min-width: 1850px)  { 
  
  .navbar-expand-lg .navbar-nav .nav-link {
   
    font-size: 2rem;
  }

  #movement{
    width: 30px;
    height: 30px;
    margin-left: 6px;
    border-radius: 2px;
    margin-bottom: 8px;
   
   }

} 


/*
@media screen and (max-width: 768px) {
  #cpy-navbar {
    background-color: #2d2e83;
    font-size: 1rem;
    height: unset;
    padding: 1rem 0;
  }

  #cpy-navbar-profile {
    font-size: 1rem;
  }

  #cpy-brand {
    font-size: 1.3rem;
    margin: 0;
    display: inline;
  }

  #navbarSupportedContent {
    background-color: #2d2e83;
  }

  .dropdown-menu {
    background-color: #2d2e83;
    border: 1px solid rgba(255, 255, 255, 0.45);
    margin-bottom: 0.5rem;
  }

  .cpy-dropdown-item {
    color: #ffffff !important;
  }

  .dropdown-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
  }

  .navbar {
    padding: unset;
  }

  .navbar a {
   margin-right: 0.3rem;
  }

  #imgCpyLogo {
    width: 55%;
  }

  .active-link {
    display: inline-block;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
  #cpy-navbar {
    font-size: 1.4vw;
  }

  #imgCpyProfile {
    width: 30%;
  }

  #imgCpyLogo {
    width: 80%;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  #cpy-navbar {
    background-color: #2d2e83;
    font-size: 1.3rem;
    height: unset;
    padding: 1rem 0;
  }

  #cpy-brand {
    font-size: 1.7rem;
    margin-right: -5rem;
  }

  #imgCpyLogo {
    width: 40%;
  }

  #imgCpyProfile {
    width: 30%;
  }

  #navbarSupportedContent {
    background-color: #2d2e83;
  }

  .dropdown-menu {
    background-color: #2d2e83;
    border: 1px solid rgba(255, 255, 255, 0.45);
    margin-bottom: 0.5rem;
  }

  .cpy-dropdown-item {
    color: #ffffff !important;
  }

  .dropdown-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
  }

  .navbar {
    padding: unset;
  }
}

@media screen and (max-width: 700px) {
  #imgCpyLogo {
    width: 80%;
  }

  #cpy-navbar-display {
    display: flex;
  }
}


/*  Arifur Testing   */
#emp-navbar {
  background-color: #8F00FF;
  color: white;
  height: 11.5vh;
  font-size: 1.3vw;
  position: fixed;
  width: 100%;
  z-index: 999;
  
}


#emp-navbar-profile {

  font-size: 1.3vw;

}

#emp-brand {
  font-size: 1.7rem;
  display: inline;
}

#emp-navbar-display {
  display: flex;
}

#imgEmpLogo {
  width: 60%;
  margin-top: -2%;
  margin-left: 0px;
 
}

#imgEmpProfile {
  width: 40px;
  height: 30px;
  margin-top: 6px;
   
}
#imghomeicon{
  width: 40px;
  height: 30px;
  margin-top: 5px;
 
}
#notificationicon{
  width: 45px;
  height: 39px;
  margin-top: 3px;
 
}

#profiletext {
   
color: black;
}

.emp-dropdown-item {
  color: #2d2e83 !important;
}

.navbar a {
  color: white;
}

.dropdown-divider {
  border-top: 1px solid #2d2e83;
}

.active-link {
  border-bottom: 3px solid white;
  border-radius: 5px 0px;
  box-shadow: 0px 1px #000000;
  color: #ffffff !important;
  padding-bottom: 0px;
  text-shadow: 1px 1px #000000;
}


/*  

@media screen and (max-width: 768px) {
  #emp-navbar {
    background-color: #2d2e83;
    font-size: 1rem;
    height: unset;
    padding: 1rem 0;
  }

  #emp-navbar-profile {
    font-size: 1rem;
  }

  #emp-brand {
    font-size: 1.3rem;
    margin: 0;
  }

  #emp-navbar-display {
    display: flex;
  }

  #navbarSupportedContent {
    background-color: #2d2e83;
  }

  .dropdown-menu {
    background-color: #2d2e83;
    border: 1px solid rgba(255, 255, 255, 0.45);
    margin-bottom: 0.5rem;
  }

  .emp-dropdown-item {
    color: #ffffff !important;
  }

  .dropdown-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
  }

  .navbar {
    padding: unset;
  }

  .navbar a {
    margin-right: 0.3rem;
   }

  #imgEmpLogo {
    width: 35%;
    opacity: 0.5;
  }

  .active-link {
    display: inline-block;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
  #emp-navbar {
    font-size: 1.4vw;
  }

  #imgEmpProfile {
    width: 30px;
    height: 30px;
  }

  #imgEmpLogo {
    width: 40%;
    opacity: 0.5;
  }
   
@media screen and (min-width: 992px) and (max-width: 1280px) {
  #emp-navbar {
    font-size: 1.4vw;
  }

  #imgEmpProfile {
    width: 30%;
  }

  #imgEmpLogo {
    width: 40%;
    opacity: 0.5;
  }

  #imghomeicon{
    width: 30%;
     
   
  }
  #notificationicon{
    width: 30%;
    
   
  }

  
}
  
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  #emp-navbar {
    font-size: 1.4vw;
  }

  #imgEmpProfile {
    width: 30%;
  }

  #imgEmpLogo {
    width: 40%;
    opacity: 0.5;
  }

  #imghomeicon{
    width: 30%;
     
   
  }
  #notificationicon{
    width: 30%;
    
   
  }

  
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  #emp-navbar {
    background-color: #2d2e83;
    font-size: 1.3rem;
    height: unset;
    padding: 1rem 0;
  }

  #imgEmpLogo {
    width: 30%;
    opacity: 0.5;
  }

  #emp-brand {
    font-size: 1.7rem;
    margin-right: -5rem;
  }

  #imgEmpProfile {
    width: 70%;
  }

  #navbarSupportedContent {
    background-color: #2d2e83;
  }

  .dropdown-menu {
    background-color: #2d2e83;
    border: 1px solid rgba(255, 255, 255, 0.45);
    margin-bottom: 0.5rem;
  }

  .emp-dropdown-item {
    color: #ffffff !important;
  }

  .dropdown-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
  }

  .navbar {
    padding: unset;
  }
}
   */



   /* testing notification box  */
   
   
 .container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}